.coeur i{
    font-size: 70px;
    margin: 10%;
    position: absolute;
}
.coeurvide{
    color: rgb(114, 113, 113);
    opacity: 1;
}
.coeurrempli{
    opacity: 0;
}
.coeurrempli:hover{
    opacity: 1;
    background: linear-gradient(0deg, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.coeurvide:hover{
    opacity: 0;
}


